* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.main-container {
    display: grid;
    grid-template-columns: 14em auto;
}

aside {
    background-color: rgb(231, 231, 231);
    height: 100vh;
}

aside {
    padding: 2em 1em;
}
aside > button {
    height: fit-content;
    padding: 0.85em 1.4em;
    width: 100%;
    text-align: left;
    border-radius: 5px;
    border: 0px solid grey;
}
main {
    height: 100vh;
    display: grid;
    padding: 2em 6em;
    grid-template-rows: 85% 15%;
}

.banner {
    height: fit-content;
    display: grid;
    gap: 1em;
}

.example-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    place-items: center;
}

.example-group > div {
    font-size: 0.9em;
    font-weight: 550;
    padding: 0.8em 1.2em;
    height: 100%;
    background-color: rgb(253, 253, 253);
    width: 100%;
    border-radius: 8px;
    text-align: center;
    border: 1px solid rgb(220, 220, 220);
    box-shadow: rgba(23, 23, 23, 0.09)4px 3px 12px;
}

.prompt-field {
    display: flex;
    justify-content: center;
}

.prompt-field > input {
    margin: auto;
    height: fit-content;
    width: 100%;
    border-radius: 10px;
    padding: 1.2em 2em;
    background-color: rgb(253, 253, 253);
    box-shadow: rgba(23, 23, 23, 0.1)4px 3px 12px;
    border: 1px solid rgb(220, 220, 220);
}
.prompt-field > button {
    margin: auto;
    padding: 0.4em;
    margin-left: -6em;
    height: fit-content;
    border-radius: 5px;
}

.user {
    display: flex;
    gap: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.user > p {
    margin: auto auto auto 0;
}

.user-icon {
    display: grid;
    place-items: center;
    margin: auto 0 auto 0;
    height: 35px;
    width: 35px;
    border-radius: 4px;
    color: white;
    background-color: rgb(201, 111, 0);
}